.form
{
    display: flex;
    
    flex-direction: column;
    padding: 20px; 
    box-shadow: 0 5px 20px -11px rgba(0, 0, 0, 0.75);
    /* height: 80vh; */
}

/* @media (min-width:768px){
    .form{
        
    }
} */

.label-option-container
{
    padding: 10px;
}
.form-input
{
    width: 100px;
}