#main-nav {
  /* width: 100%; */
  height: 55px;
  background-color: white !important;
  -webkit-box-shadow: 0px 10px 13px -11px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 13px -11px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 13px -11px rgba(0, 0, 0, 0.75);
padding: 0px;
padding-right: 10px;
display: flex;
justify-content: space-between;
}

#nav-bar-logo {
  height: 40px;
  margin-left: 10px;
  margin-top: 5px;
  padding: 0px
}
#logo-anchor{
  padding: 0px;
  margin: 0px;
  /* float: left; */
}
#logout-navbar-nav{
  /* background-color: red; */
  width: 10%;
  background-color: white;
  /* float:right; */
  /* margin: 10px; */
  /* display: flex;
  justify-content: flex-end; */
  

}
#toggle-switch{
  margin-left: 20px;
  height: 50px;
  /* margin-top: 20px; */
  float: right;
  /* padding-top: 20px; */
  display: inline-block;
  padding-top: 15px;
}
.navbar-right-content{
  text-decoration: none;
  color: black;
  margin-right:30px; 
  margin: 10px; 
}
.navBar-username {
  float: right;
  margin-right: 30px;
}

.collapse-navbar{
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navbar-right-content span{
  
  margin-left: 10px;
}
.navbar-right-content{
  background-color: #77be45;
  border-radius: 10px;
  padding: 5px;
  color: #444;
  font-weight: 500;
}


.navbar-right-content:hover{
  background-color: #5569dc;
  border-radius: 10px;
  padding: 5px;
  color: #77be45;
  font-weight: 600;
}