.submit-and-cancel-button
{
    display: flex;
    justify-content: center;
    
    margin: 10px;
}
.cancel-button
{
    margin-left: 10px;
}
.form-container
{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.label-option-container
{
    padding-bottom: 5px;
}

#role-form-title{
    background-color:
    #5569dc50 ;
    padding: 10px;
    color: #444;
    width: 200px;
    border-radius: 12px;
    text-align: center;
}

.form-container #role-form-title{
    align-self: center;
}

