.submit-and-cancel-button
{
    display: flex;
    justify-content: center;
    
    margin: 10px;
}
.cancel-button
{
    margin-left: 10px;
}
.form-container
{
    padding: 15px;
}

.label-option-container
{
    padding-bottom: 5px;
}